<!DOCTYPE html>
<!-- ng-app is een 'directive'. Directives vertellen Angular dat je een bepaald gedrag wilt toevoegen
 met ng-app vertellen we welke 'app' dit is en zo koppelen we alle instellingen van md2App
 -->
<html ng-app="nsApp">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, target-densitydpi=device-dpi" />
        <title>NS App</title>
        <!-- Main CSS -->
        <link href="public/css/mainStyle.css" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="public/css/bootstrap.css" rel="stylesheet">
    </head>
    <body>
    <!-- met de ng-controller directive koppelen we een container aan een controller
    met een controller geven we de 'view' toegang tot de 'model'
    -->
    <div class="container-fluid">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
            <div ng-controller="StationsController as Cstations">
                    
                <input class="form-control searchStations" type="text" ng-model="searchStations">
                
                <div class="stationDetails animatedCSS" ng-if="Cstations.currentStation">
                    station: {{Cstations.currentStation.name}}
                </div>

                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search Result {{filtered.length}} </h3>
                    </div>
                    <div class="panel-body">
                        <div class="list-group">
                            <div ng-click="Cstations.setCurrentStation(station)" ng-repeat="station in Cstations.stations | filter:searchStations as filtered">
                                <a class="list-group-item">{{station.name}}</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> 
      </div>

    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="public/js/bootstrap.js"></script>
    
    <script src="util/EventDispatcher.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-animate/angular-animate.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/stations.controller.js"></script>

   <!--  <script src="app/controllers/students.controller.js"></script> -->

    </body>
</html>
